:root {
  --width: 800px;
}
body {
  background: linear-gradient(0deg, #222, #555)
}
div#main {
  border: 1px solid green;
  position: absolute;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  top: 0px;
  left: 0px;
  height: 480px;
  width: var(--width);
}

div.item {
  border: 1px solid red;
}

.a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.b {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.c {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.graph {
  grid-column-start: 1;
  grid-row-start: -2;
  margin: 2px;
  border: 1px solid yellow;
}

.white line{
  stroke: #eee;
}

.white path{
  stroke: #eee;
}

.white text{
  fill: #eee;
}

.button {
  grid-column-start: -2;
  grid-row-start: -2;
  background: linear-gradient(0deg, #eee, #aaa);
  margin: 5px;
}

.button:hover {
  background: linear-gradient(0deg, #fff, #ddd);
}
